workflows/EvidenceCheck_API_Submit_Analysis_Job.json
{
  "name": "EvidenceCheck API - Submit Analysis Job (Public)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evidence-check-submit",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "name": "Receive Analysis Request"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "evidencecheck_jobs",
          "mode": "list",
          "cachedResultName": "evidencecheck_jobs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "claim": "={{$json.body?.claim || ''}}",
            "status": "processing",
            "language": "={{['es','en'].includes($json.body?.language) ? $json.body.language : 'es'}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "claim",
              "displayName": "claim",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "result",
              "displayName": "result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "outputColumns": [
            "job_id",
            "status"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "name": "Create Analysis Job"
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json;\n\nreturn [{\n  json: {\n    job_id: row.job_id,\n    status: row.status\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "name": "Build Job Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        656,
        -112
      ],
      "name": "Return Job ID"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.EVIDENCECHECK_ENGINE_WEBHOOK}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"job_id\": \"={{ $json.job_id }}\",\n  \"claim\": \"={{ $node['Receive Analysis Request'].json.body.claim }}\",\n  \"language\": \"={{ ['es','en'].includes($node['Receive Analysis Request'].json.body.language) ? $node['Receive Analysis Request'].json.body.language : 'es' }}\",\n  \"from\": \"={{ $node['Receive Analysis Request'].json.body.from || 'dashboard' }}\",\n  \"source\": \"dashboard\",\n  \"async\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        656,
        64
      ],
      "name": "Trigger EvidenceCheck Engine"
    }
  ],
  "connections": {
    "Receive Analysis Request": {
      "main": [
        [
          {
            "node": "Create Analysis Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Analysis Job": {
      "main": [
        [
          {
            "node": "Build Job Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Job Response": {
      "main": [
        [
          {
            "node": "Return Job ID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trigger EvidenceCheck Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger EvidenceCheck Engine": {
      "main": [
        []
      ]
    },
    "Return Job ID": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}